<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211210705604-5ilomo3j9ipd31n8q6ni7iuedd6p9qgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211210705604-5ilomo3j9ipd31n8q6ni7iuedd6p9qgc</string>
	<key>API_KEY</key>
	<string>AIzaSyC3QZUnW71DFCl--tHTzDqLAx6fM-iUcX4</string>
	<key>GCM_SENDER_ID</key>
	<string>211210705604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malengo.BusBooking</string>
	<key>PROJECT_ID</key>
	<string>bus-booking-2d678</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-booking-2d678.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211210705604:ios:2f555d3e06dbc456ca8791</string>
</dict>
</plist>